.card {
  font-family: "Poppins", Arial, sans-serif;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

.card__title {
  margin: 0;
  color: #212121;
  font-size: 20px;
  line-height: 1.2;
  max-width: 353px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__like-button {
  background-image: url("../images/like.svg");
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 1;
}


.card__like-button_liked {
  background-image: url(../images/liked.svg);
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url(../images/likedHover.svg);
}

.card__delete-button {
  background-image: url("../images/trashcan.svg"); 
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}

.card__delete-button:hover {
  background-image: url(../images/hovertrashcan.svg);
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 12px;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    max-width: 250px;
    font-size: 16px;
  }

  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
